.movie-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  .movie-table th, .movie-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .movie-table th {
    background-color: #f2f2f2;
    color: black;
  }
  